/* Ne pas modifier */
html {
    display: table;
    margin: auto;
}

body {
    display: table-cell;
    text-align: center;
}

/* Écrire les nouvelles classes en dessous */
.rouge {color: #f00;}
.bleu {color:blue;}